<h1><%= @title %></h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each { |item| %>
      <div class="item">
        <div class="title">
          <h2><%= item[:title] %></h2>
        </div>

        <img src="<%= item[:images][0][:mini] %>" alt="<%= item[:title] %>" class="item_image">
        <div class="ending">Ending in: <%= distance_of_time_in_words(Time.now, Time.at(item[:ends_at]), include_seconds: true) %></div>
        <div class="estimate">
          <p>Estimated Value: <%= item[:estimate]%> <%= item[:currency] %></p>
        </div>

        <div class="current-bid" >
          <p>Current bid:
            <%=
              current_bid = "0 SEK"
              if item[:bids].any?
                current_bid = "#{item[:bids][0][:amount]} "
              else
                current_bid = "0 "
              end

              current_bid += item[:currency]
            %>
          </p>
        </div>

        <div class="location">
          <p>Location: <%= item[:location] %></p>
        </div>
        <div class="link"><a href="<%= item[:url] %>">Check on Auctionet.com</a></div>
      </div>

    <% } %>
  </tbody>
</table>

<br>
