<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title><%= content_for?(:title) ? yield(:title) : "Auctionet Bargain Hunter" %></title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>
    <%= javascript_include_tag "application" %>
  </head>
  <body>
    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <%= link_to(
          content_tag(:p, "Auctionet Bargain Hunter", class: "navbar-brand"),
          if user_signed_in?
            articles_path
          else
            root_path
          end
        )  %>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
              <li> <%= link_to "Ending", articles_path, class: 'navbar-link'  %>
              <li> <%= link_to "Bargains", bargain_articles_path, class: 'navbar-link'  %>
              <li> <%= link_to "Unrecognized", unrecognized_articles_path, class: 'navbar-link'  %>
              <li> <%= link_to "Trending", trending_articles_path, class: 'navbar-link'  %>
              <li><%= render :partial => 'articles/search' %></li>
              <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class: 'navbar-link'  %></li>
            <% else %>
              <li><%= link_to "Sign up", new_user_registration_path, class: 'navbar-link'  %> </li>
              <li><%= link_to "Login", new_user_session_path, class: 'navbar-link'  %> </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <%= bootstrap_flash %>

          <%= yield %>
        </div>
      </div>

      <footer>
        <p>&copy; Fabian Hoffmann 2015</p>
      </footer>
    </div>
  </body>
</html>